In [1]:
import pandas as pd

df = pd.read_parquet(
    "gs://sec-financials-edgar/edgar_idx_files/dataframes/company_index.parquet",
    engine="pyarrow"
)

df.head()

,Company Name,Form Type,CIK,Date Filed,Filename,Year,Quarter,SourceFile
0,----------------------------------------------...,------------,------------,------------,-------------------------------------------,1993,QTR1,1993_QTR1_company.idx
1,MERRILL LYNCH LIFE VARIABLE ANNUITY SEPARATE A...,NSAR-B,880794,1993-02,-26 edgar/data/880794/9999999997-05-050433.txt,1993,QTR1,1993_QTR1_company.idx
2,RBS PARTNERS L P /CT,13FCONP,860585,1993-02,-11 edgar/data/860585/9999999997-04-035713.txt,1993,QTR1,1993_QTR1_company.idx
3,SMITH THOMAS W,13F-HR,926688,1993-02,-12 edgar/data/926688/9999999997-05-015654.txt,1993,QTR1,1993_QTR1_company.idx
4,STORAGE TECHNOLOGY CORP,CERTNYS,94673,1993-02,-24 edgar/data/94673/9999999997-05-037760.txt,1993,QTR1,1993_QTR1_company.idx

In [4]:
#Data Cleaning to remove filings with no dates
# Remove rows where 'Date Filed' contains '------------'
df = df[df['Date Filed'] != '------------']

                                               Company Name Form Type  \
0         MERRILL LYNCH LIFE VARIABLE ANNUITY SEPARATE A...    NSAR-B
1                                      RBS PARTNERS L P /CT   13FCONP
2                                            SMITH THOMAS W    13F-HR
3                                   STORAGE TECHNOLOGY CORP   CERTNYS
5         MERRILL LYNCH LIFE VARIABLE ANNUITY SEPARATE A...   POS AMI
...                                                     ...       ...
26246731                                       zSpace, Inc.       8-K
26246732                                       zSpace, Inc.       8-K
26246733                              zerohash trust Co llc    EFFECT
26246734                              zerohash trust Co llc      TA-1
26246735                                       zipzon, Inc.         D

              CIK Date Filed  \
0          880794    1993-02
1          860585    1993-02
2          926688    1993-02
3           94673    1993-02
5          880794    1993-04
...           ...        ...
26246731  1637147    2025-11
26246732  1637147    2025-12
26246733  2079421    2025-12
26246734  2079421    2025-11
26246735  2101634    2025-12

                                                  Filename  Year Quarter  \
0          -26  edgar/data/880794/9999999997-05-050433.txt  1993    QTR1
1          -11  edgar/data/860585/9999999997-04-035713.txt  1993    QTR1
2          -12  edgar/data/926688/9999999997-05-015654.txt  1993    QTR1
3           -24  edgar/data/94673/9999999997-05-037760.txt  1993    QTR1
5          -28  edgar/data/880794/9999999997-05-050434.txt  1993    QTR2
...                                                    ...   ...     ...
26246731  -28  edgar/data/1637147/0001104659-25-116839.txt  2025    QTR4
26246732  -12  edgar/data/1637147/0001104659-25-120649.txt  2025    QTR4
26246733  -05  edgar/data/2079421/9999999995-25-003562.txt  2025    QTR4
26246734  -04  edgar/data/2079421/0002079421-25-000003.txt  2025    QTR4
26246735  -22  edgar/data/2101634/0002101634-25-000001.txt  2025    QTR4

                     SourceFile
0         1993_QTR1_company.idx
1         1993_QTR1_company.idx
2         1993_QTR1_company.idx
3         1993_QTR1_company.idx
5         1993_QTR2_company.idx
...                         ...
26246731  2025_QTR4_company.idx
26246732  2025_QTR4_company.idx
26246733  2025_QTR4_company.idx
26246734  2025_QTR4_company.idx
26246735  2025_QTR4_company.idx

[26246605 rows x 8 columns]